.header {
    background-color: #000000;
    padding: 25px 0;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainNav__logo {
    display: flex;
}

.mainNav__logo svg {
    margin-right: 20px;
}

.mainNav__logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
}

.mainNav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.mainNav__item:not(:last-child) {
    margin-right: 20px;
}

.mainNav__link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
}

.mainNav__link svg {
    margin-right: 10px;
}
